$bgColor: #d7f1ff;

$breakpoints: (
    'sm': 'screen and (min-width: 768px)',
    'md': 'screen and (min-width: 980px)',
    'lg': 'screen and (min-width: 1200px)',
    'xl': 'screen and (min-width: 1400px)',
) !default;

@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}

@mixin container( $width: 1200px ) {
    max-width: $width;
    margin: 0 auto;
}
